@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');

.top {
  margin: 0;
  padding: 0;
  font-family: 'Climate Crisis', cursive;
  box-sizing: border-box;
}

.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url('https://mobimg.b-cdn.net/v3/fetch/77/77c50c9fd1c4063b81e9b3f09180a6c6.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h2 {
  position: relative;
  color: #fff;
  font-size: 12rem;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(2s * var(--i)) linear infinite;
}

.hideme {
  opacity: 0;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  25%,
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}

section {
  padding: 20px 40px;
}

section h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: 8rem;
  }

  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 6rem;
  }

  h1 {
    font-size: 1.2rem;
  }
}

/* Scrolling Effect */
.parallax-img1,
.parallax-img2,
.parallax-img3,
.parallax-img4,
.parallax-img5 {
  position: relative;
  opacity: 0.70;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  /*
  fixed = parallax
  scroll = normal
  */
  background-attachment: fixed;
}

/* import images and position them */
.parallax-img1 {
  background-image: url('../img/img1.jpeg');
  min-height: 400px;
}

.parallax-img2 {
  background-image: url('../img/img2.jpeg');
  min-height: 400px;
}

.parallax-img3 {
  background-image: url('../img/img3.jpeg');
  min-height: 400px;
}

.parallax-img4 {
  background-image: url('../img/img4.jpeg');
  min-height: 400px;
}

.parallax-img5 {
  background-image: url('../img/img5.jpeg');
  min-height: 400px;
}

/* Section Styling */

.section {
  text-align: center;
  padding: 50px 80px;
}


/* image text and content styling */
.ptext {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border img {
  position: relative;
  top: -195px;
  left: -20px;
  max-height: 390px;
  opacity: 0.90;
}

.ptext .border.trans {
  background-color: transparent;
}

/* Mobile friendly */
@media(max-width:960px){
  .fullscreen-video-wrap video{
    min-width: 116%;
    min-height: 100%;
    margin-bottom: -500px;
    margin-left: -520px;
  }
}

@media (max-width:720px) {
  .fullscreen-video-wrap video{
    min-width: 116%;
    min-height: 100%;
    margin-bottom: -500px;
    margin-left: -640px;
  }
}

@media(max-width:568px){

  .fullscreen-video-wrap video{
    margin-left: -800px;
  }

  .parallax-img1, .parallax-img2, .parallax-img3, .parallax-img4, .parallax-img5 {
    background-attachment: scroll;
  }

}