@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

/* HTML */
html {
  scroll-behavior: smooth;
}

:root{
  --primary-color:black;
  --secondary-color:white;
}
/* dark-mode */
.dark-theme{
  --primary-color:white;
  --secondary-color:black;
}




/* navbar */
#navbar {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: -200px;
  /* left: 20px; */
  z-index: 9999;
  transition: left 0.3s ease;
}


#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#navbar li {
  margin-bottom: 20px;
}

#navbar a {
  display: block;
  color: #303030;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  transition: all 0.3s ease;
}

#navbar .highlight {
  color: #73ff0094;
}

#navbar.active {
  left: 0;
}

#navbar a:hover {
  color: #73ff00;
}


/* hero */
.hero {
  margin: 0;
  padding: 0;
  font-family: 'Climate Crisis', cursive;
  box-sizing: border-box;
}

.banner {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url('https://mobimg.b-cdn.net/v3/fetch/77/77c50c9fd1c4063b81e9b3f09180a6c6.jpeg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

h2 {
  position: relative;
  color: var(--secondary-color);
  font-size: 12rem;
}

.clouds {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.clouds img {
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(2s * var(--i)) linear infinite;
}

/* visibility */

body{
background-color: var(--secondary-color);
color: var(--primary-color);
}
.accordion-body{
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.accordion-button{
background-color: var(--secondary-color);
color:var(--primary-color);
}


.reveal {
  position: relative;
  opacity: 0;
  transition: all 0.5s ease;
}

.revealX {
  position: relative;
  transform: translateX(150px);
  opacity: 0;
  transition: all 0.5s ease;
}

.revealX-rev {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 0.5s ease;
}

.revealY {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.5s ease;
  
}

.reveal.reveal-active {
  opacity: 1;
}

.revealX.revealX-active {
  transform: translateX(0);
  opacity: 1;
}

.revealX-rev.revealX-rev-active {
  transform: translateX(0);
  opacity: 1;
}

.revealY.revealY-active {
  transform: translateY(0);
  opacity: 1;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  25%,
  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(3);
  }
}

section {
  padding: 20px 40px;
}

section h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: 8rem;
  }

  h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 6rem;
  }

  h1 {
    font-size: 1.2rem;
  }
}

/* carousal */
.carousel {
  position: absolute;
  top: 169px;
  left: 95px;
  width: 850px;
  height: 600px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 20px;
}

.carousal-heading{
  position: absolute;
  left: 200px;
  top: -80px;
  font-size: 250px !important;
  z-index: 5;
}

.carousal-content{
  position: absolute;
  left: 1000px;
  top: 272px;
  width: 725px;
  text-align: left;
}

.join-us{
  position: relative;
 top: 50px;
 font-size: 30px;
}

/* body */
h1 {
  font-family: 'Tilt Warp', cursive;
  letter-spacing: 2;
  font-size: 60px !important;
}

h5 {
  letter-spacing: 2;
}

.section-3{
  margin: 10px;
  padding: 1px;
  height: 700px;
}

.section-2{
  margin: 10px;
  padding: 1px;
  height: 800px;
}

a {
  color: #000000;
}

a:link{
  text-decoration: none;
}

a:hover{
  color: #73ff00;
  transition: 0.5s;
}

/* Scrolling Effect */
.parallax-img1,
.parallax-img2,
.parallax-img3,
.parallax-img4,
.parallax-img5 {
  opacity: 0.70;
  filter: blur(3px);
  /* -webkit-filter: blur(2px); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* import images and position them */
.parallax-img1 {
  background-image: url('./img/img1.jpeg');
  filter: brightness(60%);
  min-height: 550px;
}

.parallax-img2 {
  background-image: url('./img/img2.jpeg');
  filter: brightness(70%);
  min-height: 830px;
}

.parallax-img3 {
  background-image: url('./img/img3.jpeg');
  filter: brightness(70%);
  min-height: 400px;
}

.parallax-img4 {
  background-image: url('./img/img4.jpeg');
  filter: brightness(70%);
  min-height: 400px;
}

.parallax-img5 {
  background-image: url('./img/img5.jpeg');
  filter: brightness(70%);
  min-height: 400px;
}

/* Section Styling */
section {
  position: relative;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.container-text {
  margin-top: 35px;
}


/* image, text and content styling */
.ptext {
  position: relative;
  width: 100%;
  text-align: center;
  color: #000000;
  font-size: 27px;
  letter-spacing: 8px;
  text-transform: uppercase;
}

.ptext .border img {
  position: relative;
  top: -195px;
  left: -20px;
  max-height: 390px;
  opacity: 0.90;
}

.ptext .border.trans {
  background-color: transparent;
}

.right-text {
  /* make this div appear on the right side of the image */
  position: absolute;
  top: 359px;
  right: -655px;
  width: 74%;
  height: 100%;
  text-align: Right;
}

.left-text {
  /* make this div appear on the right side of the image */
  position: absolute;
  top: 359px;
  left: 238px;
  width: 57%;
  height: 100%;
  text-align: left;
}

.heading1{
  position: absolute;
  top: 6px;
  right: -693px;
  font-size: 280px !important;
}

#giraffe{
  left: 65px;
}

.heading2{
  position: absolute;
  top: 6px;
left: 794px;
  font-size: 280px !important;
}

.img {
  flex: 1;
  width: 350px;
  height: 350px;
  margin-top: 5px;
  transition: all 0.5s ease;
}

.Right-img{
  position: relative;
  top: 22px;
  Right: -540px;
  z-index: 5;
  filter: drop-shadow(0 15px 19px #414141);
}

.ele {
  position: relative;
  top: -28px;
  left: -540px;
  z-index: 5;
}

.giraffe{
  position: relative;
  right: 483px;
}

.giraffe-img{
  height: 1000px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.left-img {
  /* height: 700px;
  width: 700px; */
  top: 58px;
  left: 85px;
  filter: drop-shadow(0 15px 19px #414141);
}

.below-text {
  border: #ffffff70;
  border-style: solid;
  border-radius: 10px;
  width: 320px;
  font-size: 25px;
  text-align: center;
  display: block;
  margin-top: 2px;
  color: #ffffff;
  font-family: 'Rubik', sans-serif;
}

.overlap {
  width: 75%;
  text-align: center !important;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.parallax-container {
  position: relative;
  z-index: 0;
}

#about{
  height: 700px;
}

.about-heading{
  position: absolute;
  font-size: 220px !important;
  left: 700px;
  top: -35px;
}

.about-content{
  position: absolute;
  left: 700px;
  top: 198px;
  text-align: justify;
}

.about-img{
  position: Absolute;
  top: 23px;
  left: 67px;
  height: 603px;
  /* z-index: 5; */
  /* filter: drop-shadow(0 15px 19px #414141); */
}

@media screen and (max-width: 1401px) {
/* section 2 */
.carousel{
   width: 550px;
}
.carousal-heading{
  left: 200px;
  top: -16px;
  font-size: 160px !important;
}
.carousal-content{
  left: 680px;
    top: 145px;
    width: 557px;
    font-size: 15px;
}
.join-us{
  font-size: 25px;
}
.section-2{
  height: 566px;
}
  /* section 3 */
  .heading1{
    font-size: 250px !important;
    left: 625px;
  }
  .heading2 {
    font-size: 250px !important;
    left: 525px;
  }
  .left-img {
    top: 60px;
    left: 171px;
    height: 700px;
  }
  .Right-img{
    height: 801px;
    Right: -441px;
  }
  .left-text{
    top: 260px;
    right: -597px;
  } 
  .right-text {
    width: 800px;
    top: 292px;
    right: -620px;
  }
  .section-3{
    height: 497px;
  }
  /* section 4 */
  .about-heading{
    font-size: 150px !important;
    left: 600;
  }
  .about-img{
    height: 504px;
  }
  .about-content{
    font-size: 14px;
    left: 592px;
    top: 161px;
  }
  #about{
    height: 497px;
  }
}

@media screen and (max-width: 1000px) {
  h2 {
    font-size: 6rem;
  }

  h1 {
    font-size: 1.2rem;
  }
}

/* Mobile friendly */
@media(max-width:960px) {
  .fullscreen-video-wrap video {
    min-width: 116%;
    min-height: 100%;
    margin-bottom: -500px;
    margin-left: -520px;
  }
}

@media (max-width:720px) {
  .fullscreen-video-wrap video {
    min-width: 116%;
    min-height: 100%;
    margin-bottom: -500px;
    margin-left: -640px;
  }
}

@media(max-width:568px) {

  .fullscreen-video-wrap video {
    margin-left: -800px;
  }

  .parallax-img1,
  .parallax-img2,
  .parallax-img3,
  .parallax-img4,
  .parallax-img5 {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 1000px) {
  .img {
    width: calc(70% - 20px);
    /* adjust this as needed */
    height: auto;
    margin: 0 5px;
    max-width: 200px;
  }
}

/* card */
.y-text{
  left: -197px;
  top: -419px;
  font-size: 125px !important;
  position: absolute;
  writing-mode: vertical-rl;
  text-orientation: upright;
  letter-spacing: -46px;
  text-align: left;
}

.cards-container{
  position: absolute;
  top: -300px;
  right: -116px;
}

.card {
  top: 10px;
  width: 300px;
  height: 500px;
  margin: 10px;
  padding: 5px;
  background-color: var(--secondary-color);
}

.card-fade-in {
  opacity: 1;
  transform: translateY(0);
}

.card-body {
  padding: 0;
  margin-top: 10px;
}

.card-text {
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 15px;
  font-size: 16px;
  line-height: 1;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  letter-spacing: 2;
}

.section-bottom{
position: absolute;
  top: 580px;
  left: 417px;
  font-size: 40px !important;
}

.section-bottom a{
  color: #ffffff !important;
  text-decoration: none;
}

.section-bottom a:hover{
  color: #73ff00 !important;
  text-decoration: none;
}

.light-text {
  opacity: 60%;
}


/* scroll-bar */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f500;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: #f5f5f500;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #2e411f;
  /* background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#4D9C41),
									   to(#19911D),
									   color-stop(.6,#54DE5D)) */
}

/* Footer */
Footer {
  height: 50px;
}

@media only screen and (max-width: 600px) {
  /* CSS for screens smaller than 600px */
  .header {
    font-size: 24px;
    padding: 10px;
  }
  .menu {
    display: none;
  }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
  /* CSS for screens between 601px and 900px */
  .header {
    font-size: 36px;
    padding: 20px;
  }
  .menu {
    display: block;
  }
}

@media only screen and (min-width: 901px) {
  /* CSS for screens larger than 900px */
  .header {
    font-size: 48px;
    padding: 30px;
  }
  .menu {
    display: block;
  }
}
